// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background: url("https://res.cloudinary.com/xrole/image/upload/v1577112606/BlueFlameIndoors/saveTime2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
}

.background-container {
  text-align: center;
  margin: 24% auto 0 auto;
  font-family: "Roboto";

  h1 {
    font-weight: lighter;
    font-size: 25px;
  }

  .auth-container {
    display: flex;
    justify-content:space-between;
    width: 180px;
    margin: -15px auto;

    .register {
      color: rgb(174, 28, 106)
    };

    .login {
      color: rgb(20, 144, 103)
    }
  }

  .auth-form {
    text-align: center;
  }

  form {
    max-width: 400px;
    margin: 3% auto 0 auto;
    text-align: left;
    background-color: rgb(244,247,246);

    #error_explanation {
      text-align: center;
    }
    .error_list {
      color: rgb(174, 28, 106);
      list-style: none;
    }

    .form-title-container {
      text-align: center;
    }

    h3 {
      font-weight: lighter;
      font-family: "Roboto";
      color: rgb(85,81,81);
      font-size: 16px;
      padding: 7% 0 3% 0;
    }

    .form-field {
      padding: 0 7% 4% 7%;
      display: flex;
      justify-content: space-between;
    }

    input[type="password"], input[type="email"] {
      width: 150px;
      height: 25px;
      border: none;
    }

    input[type="submit"] {
      background-color: rgb(114,227,188);
      color: white;
      padding: 7px 25px;
      border: none;
      border-radius: 10px;
      font-size: 16px;
    }

    .submit {
      padding: 0 7% 2% 7%;
      margin-top: -2%;
    }
  }
}
